[secrets]
uploadProtocol = espota
# Spider plant
uploadPort = {ip-address-of-spider-plant}
# Cactus
# uploadPort = {ip-address-of-cactus}
# Calbracia
# uploadPort = {ip-address-of-calbracia}
# Bonsai tree
# uploadPort = {ip-address-of-bonsai}
uploadAuth = --auth='${secrets.otaPassword}'
